<button class='btn btn-lg btn-default' name='download_btn' style="display:none"> Download </button>
<a href="" class="fileDownloadCustomRichExperience" name='download_link' target="_blank" style="display:none">Download</a>

<div id="preparing-file-modal" title="Preparing report..." style="display: none;">
	We are rendering your mix, please wait...
 
	<!--Throw what you'd like for a progress indicator below-->
	<div class="ui-progressbar-value ui-corner-left ui-corner-right" style="width: 100%; height:22px; margin-top: 20px;"></div>
</div>
 
<div id="error-modal" title="Error" style="display: none;">
	There was a problem generating your mix, please try again.
</div>