<html lang="en">
<% include head.ejs %>

<body>
	<div class='container theme-showcase'>
		<% include header.ejs %>
		<div class='btn btn-lg btn-default' name='compose_now_btn'>Compose now!</div>
		<% include uploader.ejs %>
	</div>
</body>

</html>