<html lang="en">
<% include head.ejs %>

<body>
	<div class='container'>
		<% include header.ejs %>
		<button class='btn btn-lg btn-default' name='compose_now_btn'>Compose now!</button>
		<% include uploader.ejs %>
		<% include waiting.ejs %>
		<% include download_page.ejs %>
	</div>
</body>

</html>