<div name ="uploader" style="display:none">
	<form role='form' action='/' method='post' enctype='multipart/form-data'>
		<button class='btn btn-lg btn-default' name="upload_btn"> Pick your muse </button>
		<input type='file' name='upload_files' multiple="" style="display:none"/>
		<button type="submit" class='btn btn-lg btn-default' name='i_am_done'> I am done </button>
	</form>	
	<!--
	<input type='file' name='imports' multiple="" value=null style="display:none"/>
	-->
	<span>
		<table class="table table-inverse">
			<thead>
				<tr>
					<th>No.</th>
					<th>File Name</th>
					<th>File Type</th>
					<th>File Size</th>
					<th>Remove?</th>
				</tr>

			</thead>
			<tbody>		
			</tbody>
		</table>
	</span>
</div>