<div name ="uploader" style="display:none">
	<form class="">
		<button class='btn btn-lg btn-default' name="upload_btn"> Pick your muse </button>
		<input type='file' id='upload_files' multiple="" style="display:none"/>
		<button class='btn btn-lg btn-default' type='submit' name='i_am_done'> I am done </button>		
	</form>
	<span>
	<table class="table table-inverse">
		<thead>
			<tr>
				<th>No.</th>
				<th>File Name</th>
				<th>File Type</th>
				<th>File Size</th>
				<th>Remove?</th>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td><a type='button' class="glyphicon glyphicon-remove"></a></td>
			</tr>			
		</tbody>
	</table>
	</span>
</div>