/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-d70214d9-aipqsxif   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-d70214d9-kc0uynir.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-d70214d9-kc0uynir.item-box > .item-wrapper    {
	max-width: 1270px;
}
 
 #vbid-d70214d9-jvcpbdvx   {
	background-size: contain;
}
 
 #vbid-d70214d9-evjgva6r   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-d70214d9-ezyiyjf0   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-d70214d9-5yb0a7a3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 310px;
}
 
 #vbid-455f7e44-dg3fdxh4.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 81px;
} 
 #vbid-455f7e44-dg3fdxh4.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d70214d9-daczn1jw.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-d70214d9-6d3cz9ek.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 688px;
}
 
 #vbid-d70214d9-e0aqmdug.master.item-box    {
	padding-top: 0px;
	padding-bottom: 35px;
	min-height: 1343px;
} 
 #vbid-d70214d9-e0aqmdug.item-box > .item-wrapper    {
	max-width: 1168px;
}
 
 #vbid-d70214d9-rwwb10xu   {
	background-size: contain;
}
 
 #vbid-d70214d9-rqetv1vs.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 296px;
}
 
 #vbid-d70214d9-ya4hbbj5   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-d70214d9-gat11t6g   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-d70214d9-5zzm9lyv.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-d70214d9-5zzm9lyv.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d70214d9-c0r0ebmg.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
}
 
 #vbid-d70214d9-epjpzfez.master.item-box    {
	min-height: 699px;
}
 
 #vbid-d70214d9-mywlm1ly.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-d70214d9-mywlm1ly.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d70214d9-cssyrjvq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 682px;
}
 
 #vbid-d70214d9-awib9aao   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-d70214d9-8cs5uqvg   {
	background-size: contain;
}
 
 #vbid-d70214d9-bsbwqi9l   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-d70214d9-jsnad13m   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-d70214d9-wvdzcqff.master.item-box    {
} 
 #vbid-d70214d9-wvdzcqff.master.item-box    {
	min-height: 365px;
}
 
 #vbid-d70214d9-5ll7trcq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 802px;
}
 
 #vbid-d70214d9-4bcury42.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
} 
 #vbid-d70214d9-4bcury42.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d70214d9-6t9sjem4   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-d70214d9-6agy0cg2   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-d70214d9-q2nnf4ab.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-d70214d9-q2nnf4ab.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d70214d9-j6yknzfy   {
	background-position: 51.8808784484863% 24.1324920654297%;
}
 
 #vbid-d70214d9-khnpmwmd.master.item-box    {
	padding-top: 60px;
	padding-bottom: 80px;
	min-height: 1343px;
} 
 #vbid-d70214d9-khnpmwmd.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d70214d9-xmb4bdy7   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-d70214d9-jrz18ogb.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-d70214d9-jrz18ogb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d70214d9-apbynsio.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 257px;
}
 
 #vbid-d70214d9-apir05qr   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-d70214d9-fnh1uxvc.master.item-box    {
	min-height: 231px;
}
 
 #vbid-d70214d9-vjf3atmb   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-d70214d9-gu39xprf.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 81px;
} 
 #vbid-d70214d9-gu39xprf.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d70214d9-t2zdjnbf.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-d70214d9-t2zdjnbf.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-d70214d9-d111sdov.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-d70214d9-d111sdov.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d70214d9-iismtata   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-d70214d9-apciayuf.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 392px;
}
 
 #vbid-d70214d9-fphoym4z.master.item-box    {
	min-height: 386px;
}
 
 #vbid-d70214d9-zsqy7xlx.master.item-box    {
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 1343px;
}
 
 #vbid-d70214d9-rijmqsri   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-d70214d9-tsgz4hje   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-d70214d9-bs3pwgww.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
} 
 #vbid-d70214d9-bs3pwgww.item-box > .item-wrapper    {
	max-width: 1416px;
}
 
 #vbid-d70214d9-x0zdujr2.master.item-box    {
	min-height: 773px;
}
 
 #vbid-d70214d9-jm1vvxj3.master.item-box    {
	min-height: 231px;
}

 
 #vbid-d70214d9-nvv5ehhq.master.item-box    {
	padding-top: 70px;
	padding-bottom: 60px;
	min-height: 202px;
} 
 #vbid-d70214d9-nvv5ehhq.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d70214d9-sbqh22al.master.item-box    {
	min-height: 603px;
}
 
 #vbid-d70214d9-hn6xplg3   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-d70214d9-5zfuhnck   {
	background-size: 92%;
}
 
 #vbid-d70214d9-twjp33az.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-d70214d9-z1b8aovu   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-d70214d9-hac2ydpb   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-d70214d9-gjlpgoab   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-d70214d9-vw8xfoud   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-d70214d9-dpalpd08   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-d70214d9-xdve9xxa   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-d70214d9-nmf5zlo8.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-d70214d9-nmf5zlo8.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d70214d9-hinso8zg.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-d70214d9-hinso8zg.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-d70214d9-roj1y8e7   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-d70214d9-rhmwuwjj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 496px;
}
 
 #vbid-d70214d9-pqsayxx2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 427px;
}
 
 #vbid-d70214d9-ygh6azfb.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 202px;
} 
 #vbid-d70214d9-ygh6azfb.item-box > .item-wrapper    {
	max-width: 1000px;
}